<div class="main-content">
  <h1>Edit Inventory</h1>

  <%= form_with model: @inventory, local: true, html: { multipart: true } do |form| %>
    <table class="details-form-table">
      <tr>
        <td><%= form.label :name %></td>
        <td>
          <%= form.text_field :name %>
          <% if @inventory.errors[:name].any? %>
            <div class="error-message"><%= @inventory.errors[:name].first %></div>
          <% end %>
        </td>
      </tr>

      <tr>
        <td><%= form.label :product_number %></td>
        <td>
          <%= form.text_field :product_number %>
          <% if @inventory.errors[:product_number].any? %>
            <div class="error-message"><%= @inventory.errors[:product_number].first %></div>
          <% end %>
        </td>
      </tr>

      <tr>
        <td><%= form.label :brand %></td>
        <td>
          <%= form.text_area :brand %>
          <% if @inventory.errors[:brand].any? %>
            <div class="error-message"><%= @inventory.errors[:brand].first %></div>
          <% end %>
        </td>
      </tr>

      <tr>
        <td><%= form.label :description %></td>
        <td>
          <%= form.text_area :description %>
          <% if @inventory.errors[:description].any? %>
            <div class="error-message"><%= @inventory.errors[:description].first %></div>
          <% end %>
        </td>
      </tr>

      <tr>
        <td><%= form.label :category %></td>
        <td>
          <%= form.select :category, ['Inserts', 'Powder', 'Others'], {}, class: "form-select" %>
          <% if @inventory.errors[:category].any? %>
            <div class="error-message"><%= @inventory.errors[:category].first %></div>
          <% end %>
        </td>
      </tr>

      <tr>
        <td><%= form.label :alert_quantity %></td>
        <td>
          <%= form.number_field :alert_quantity %>
          <% if @inventory.errors[:alert_quantity].any? %>
            <div class="error-message"><%= @inventory.errors[:alert_quantity].first %></div>
          <% end %>
        </td>
      </tr>

      <tr>
        <td><%= form.label :unit_cost %></td>
        <td>
          <%= form.number_field :unit_cost, step: 0.01  %>
          <% if @inventory.errors[:unit_cost].any? %>
            <div class="error-message"><%= @inventory.errors[:unit_cost].first %></div>
          <% end %>
        </td>
      </tr>

      <tr>
        <td><%= form.label :status %></td>
        <td>
          <%= form.select :status, ['Available', 'Out of Stock', 'Discontinued'], {}, class: "form-select" %>
          <% if @inventory.errors[:status].any? %>
            <div class="error-message"><%= @inventory.errors[:status].first %></div>
          <% end %>
        </td>
      </tr>

      <tr>
        <td><%= form.label :image %></td>
        <td>
          <%= form.file_field :image, accept: 'image/*', id: 'image_input' %>
        </td>
      </tr>

      <tr>
        <td>Image Preview</td>
        <td>
          <img id="image_preview" src="<%= url_for(@inventory.image) if @inventory.image.attached? %>" alt="Image preview" style="max-width: 200px; max-height: 200px; display: <%= @inventory.image.attached? ? 'block' : 'none' %>;">
        </td>
      </tr>

      <tr>
        <td colspan="2" style="text-align: right;">
          <%= form.submit 'Update Inventory', class: 'btn-save' %>
          <%= link_to 'Back to List', inventories_path, class: 'btn-back' %>
        </td>
      </tr>
      <% if current_user&.has_permission?('delete_inventory') %>
        <tr>
          <td colspan="2" style="text-align: right;">
            <div style="margin-top: 35px;">
              <%= link_to 'Delete Inventory', inventory_path(@inventory), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn-delete' %>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const input = document.getElementById('image_input');
    const preview = document.getElementById('image_preview');

    input.addEventListener('change', function(event) {
      const [file] = input.files;
      if (file) {
        preview.src = URL.createObjectURL(file);
        preview.style.display = 'block';
      } else {
        preview.src = '';
        preview.style.display = 'none';
      }
    });
  });
</script>
