<%= form_with(model: [:admin, role], local: true, id: "role-form") do |f| %>
  <style>
    .checked-row {
      background-color: #cfffdf;
    }
  </style>

  <table class="details-form-table">

    <tr>
      <td><%= f.label :name %></td>
      <td>
        <%= f.text_field :name, class: "form-control", required: true %>
        <% if role.errors[:name].any? %>
          <div class="error-message"><%= role.errors[:name].first %></div>
        <% end %>
      </td>
    </tr>
  </table>

  <table class="details-form-table">
    <tr>
      <td><%= f.label :permission %></td>
      <td><%= f.label :description %></td>
      <td></td>
    </tr>

    <% permissions.each do |permission| %>
      <tr class="permission-row">
        <td><%= label_tag "permission_#{permission.name}", permission.name %></td>
        <td><%= label_tag "permission_#{permission.description}", permission.description %></td>
        <td>
          <%= check_box_tag 'role[permission_ids][]', permission.id, role.permissions.include?(permission), id: "permission_#{permission.id}", class: "permission-checkbox" %>
        </td>
      </tr>
    <% end %>

    <% if role.errors.any? %>
      <tr>
        <td colspan="2">
          <div class="alert alert-danger">
            <ul>
              <% role.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>

    <tr>
      <td colspan="3" style="text-align: right; padding-top: 15px;">
        <% if action_name == 'edit' %>
          <%= f.submit "Update Role", class: "btn-save" %>
        <% elsif action_name == 'new' %>
          <%= f.submit "Create Role", class: "btn-save" %>
        <% end %>
        <%= link_to 'Back to List', admin_roles_path, class: 'btn-back' %>
      </td>
    </tr>

    <% if action_name == 'edit' && current_user&.has_permission?('delete_admin') %>
      <tr>
        <td colspan="3" style="text-align: right; padding-top: 35px;">
          <%= link_to 'Delete', admin_role_path(@role), method: :delete, data: { turbo: false, confirm: 'Are you sure?' }, class: 'btn-delete' %>
        </td>
      </tr>
    <% end %>
  </table>

  <script>
    document.addEventListener("turbo:load", () => {
      function updateRowHighlight(checkbox) {
        const row = checkbox.closest("tr");
        if (checkbox.checked) {
          row.classList.add("checked-row");
        } else {
          row.classList.remove("checked-row");
        }
      }

      document.querySelectorAll(".permission-checkbox").forEach((checkbox) => {
        // Initial highlight state on page load
        updateRowHighlight(checkbox);

        // Update highlight when checkbox changes
        checkbox.addEventListener("change", () => {
          updateRowHighlight(checkbox);
        });
      });
    });
  </script>
<% end %>
