<div class="main-content">
    <h1>Roles</h1>

    <%= link_to 'New Role', new_admin_role_path, class: 'btn btn-primary' %>

    <table>
    <thead>
        <tr>
        <th>Name</th>
        <th>Permissions</th>
        <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <% @roles.each do |role| %>
        <tr>
            <td><%= role.name %></td>
            <td>
            <%= role.permissions.pluck(:name).join(", ") %>
            </td>
            <td>
            <%= link_to 'Edit', edit_admin_role_path(role), class: 'btn btn-sm btn-warning' %>
            <%= link_to 'Delete', admin_role_path(role), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
            </td>
        </tr>
        <% end %>
    </tbody>
    </table>
</div>
