<% reference ||= {
  diameter: [{ point: "D01", minimum: "", maximum: "" }],
  length: [{ point: "L01", minimum: "", maximum: "" }]
} %>

<div class="process-box" id="process-container-<%= i %>">
  <form id="form-<%= i %>" data-index="<%= i %>" data-process-id="<%= process.id %>" class="job-process-form">
    <div class="process-header">
      <div class="process-title"><%= process.job_process_type.name %></div>
      <div class="process-time-flex">
        <div class="process-time-input">
          Start Time:
          <input type="datetime-local" name="start_time" value="<%= process.start_time&.strftime('%Y-%m-%dT%H:%M') %>">
        </div>
        <div class="process-time-input">
          End Time:
          <input type="datetime-local" name="end_time" value="<%= process.end_time&.strftime('%Y-%m-%dT%H:%M') %>">
        </div>
      </div>
    </div>

    <div class="process-measurements" style="<%= 'display:none !important;' if process.job_process_type_id == 3 %>">
      <div class="table-box">
        <table class="process-table" id="diameter-table-<%= i %>">
          <thead>
            <tr><th colspan="6">Diameter Measurement (mm)</th></tr>
            <tr><td class="jo-header-invert">Point</td><td class="jo-header-invert">Reference</td><td class="jo-header-invert">X-X</td><td class="jo-header-invert">Y-Y</td><td class="jo-header-invert">Remarks</td><td class="jo-header-invert"></td></tr>
          </thead>
          <tbody id="diameter-body-<%= i %>"></tbody>
        </table>
        <% if process.job_process_type_id == 1 %>
          <div class="add-measurement-row">
            <button class="add-measurement-button" type="button" onclick="addManualRow('diameter', <%= i %>)">+ Add Diameter</button>
          </div>
        <% end %>
      </div>
      <div class="table-box">
        <table class="process-table" id="length-table-<%= i %>">
          <thead>
            <tr><th colspan="5">Length Measurement (mm)</th></tr>
            <tr><td class="jo-header-invert">Point</td><td class="jo-header-invert">Reference</td><td class="jo-header-invert">Measurement</td><td class="jo-header-invert">Remarks</td><td class="jo-header-invert"></td></tr>
          </thead>
          <tbody id="length-body-<%= i %>"></tbody>
        </table>
        <% if process.order_index == 1 %>
          <div class="add-measurement-row">
            <button class="add-measurement-button" type="button" onclick="addManualRow('length', <%= i %>)">+ Add Length</button>
          </div>
        <% end %>
      </div>
    </div>
    <div>
    <div class="jo-process-footer">
        <input type="hidden" name="measurement_data" id="measurement-data-<%= i %>">
        <input type="hidden" name="order_index_data" id="order-index-data-<%= i %>" value="<%= process.order_index %>">
        <div class="machine-user-select-container">
            Machine Used: 
            <select id="job_process_machine_select-<%= i %>">
                <option value="">Not Required</option>
                <%= options_from_collection_for_select(@equipment, :id, :tag, process.equipment_id) %>
            </select>
        </div>
        <div class="machine-user-select-container">
            Completed By: 
            <select id="job_process_user_select-<%= i %>">
                <option value="">Select a user</option>
                <%= options_from_collection_for_select(@users || [], :id, :name, process.user_id.to_i) %>
            </select>
        </div>
        <button type="submit" class="submit-process-button" onclick="handleFormSubmit(event, <%= i %>)">Save</button>
    </div>
    </div>
  </form>
</div>
